name: Receive Dispatch
on:
  repository_dispatch:
    types: [test_dispatch]
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo ${{ github.event.client_payload.github.sha }}
